<mat-toolbar color = "primary" class="title-toolbar">
  <mat-toolbar-row>
    <span class="title-center">bulletin board</span>
    <ul>
      <li>
        <a mat-button routerLink="/explore" routerLinkActive="activeButton">explore</a>
      </li>
      <li  *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="activeButton">create</a>
      </li>
      <li  *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="activeButton">login</a>
      </li>
      <li  *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="activeButton">signup</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">logout</button>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
