<mat-card>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <!-- Create a text input field for the email -->
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="e-mail" #emailInput="ngModel" required email>
      <!-- Display an error message if the email input is invalid -->
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <!-- Create a text input field for the password -->
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="password" #passwordInput="ngModel" required>
      <!-- Display an error message if the password input is invalid -->
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <!-- Create a button to submit the login form -->
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit">Login</button>
    </mat-card-actions>
  </form>
</mat-card>

