<!--the mutli property helps us render the accordion so we can open more than one at a time-->
<!--The ngIf directive is stating when to render the entire mat-accordion element based on value of posts array in TS file -->
<mat-accordion multi="true" *ngIf="posts.length > 0">
<!--  The ngFor directive does create the HTML-Element it is placed in as many times as there are elements in the array.-->
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
<!--  To render the title property of each "post" element from the posts array, use a double {{}} and put . property-->
      {{post.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf = "userIsAuthenticated && userId == post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<!--to get Angular UI styling, use mat-body-1, and to avoid applying CSS to more than one tag, you add more words to beginning of class name like info-text-->
<!--The ngIf is another directive that gives a condition on when we should render the following HTML element based on info from TS file-->
<p class="info-text mat-body-1" *ngIf="posts.length<=0">start posting on your bulletin board!</p>
